<!DOCTYPE html>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
    <script src="script.js"></script>
</head>
<h1>Fruit Machine Reels - Using moving IMG tags</h1>
<body ng-app="myApp" ng-controller="fruitMachine as vm">
        <div style="background: grey; height:620px; width:825px;position:absolute; left:10px; top: 120px;">
            <div ng-repeat="reel in vm.reelViews" ng-style="{ position: 'absolute', top: '10px', left: {{reel.index*135 +10}}+'px', width: '130px', height: '600px',background: 'white'}">
                <div ng-repeat="v in reel" ng-style="{ position: 'absolute', top: {{v.startPx}}+'px', overflow: 'hidden', height: {{v.heightdiv}}+'px'}">
                    <img ng-src="https://github.com/julianperrott/FruitMachineReel/blob/master/{{vm.symbols[v.symbolNo]}}?raw=true" style="border: 1px solid black" ng-style="{height: {{v.height}}+'px', width: '130px', position: 'relative', top: {{v.imgTop}}+'px'}" />
                </div>
            </div>
    </div>
    <button ng-click="vm.start()">Start Rolling</button>
    <button ng-click="vm.stop()">Stop Rolling</button>
    <button ng-click="vm.move()">Step forward</button>
</body>
</html>
